h3
{
  background-color: #D3D3D3;

}
#profile-wrapper
{
  text-align: center;
}
#profile-pic
{
  width: 200px;
  height:250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

ul
{
  padding: 0;
  list-style-type:none;

}

.social-links ul li
{
  list-style-type:none;
  display: inline-blac;
}

.social{
  width:30px;
  height: 30px;
}
